<footer class="footer-wrap style2 pt-85">
    <img src="../../../assets/images/footer-map.png" alt="Image" class="footer-shape-one">
    <div class="footer-top">
        <div class="container">
            <div class="row pb-75">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 pe-xl-5">
                    <div class="footer-widget">
                        <a href="index.html">

                            <!-- <img src="assets/img/logo-white.png" alt="Image"> -->
                            <span class="comp-desc" style="font-size: 20px;">Wellkins Capital Limited</span>
                            <p class="comp-desc"> ABN 12 608 424 488</p>
                            <p class="comp-desc">AFSL 482375</p>
                        </a>
                        <a href="tel: 02 9119 4947">
                        <p class="comp-desc">
                           <span class="fa fa-phone me-2" ></span> 02 9119 4947
                        </p>
                        </a>
                        <a href='https://www.google.com/maps/search/4.01%2F5+Celebration+Drive,+Bella+Vista+NSW+2153+Australia/@-33.7325587,150.9426622,17z/data=!3m1!4b1?entry=ttu' target="_blank">
                        <p class="comp-desc"><span class="fa fa-map-marker me-2"></span>  4.01/5 Celebration Drive, Bella Vista NSW 2153 Australia</p>
                        </a>
                        <a href="mailto: info@wellkins.com.au">
                        <p class="comp-desc"><span class="fa fa-envelope me-2" ></span>  info@wellkins.com.au </p>
                        </a>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Projects</h3>
                        <ul class="footer-menu list-style">
                            <li>
                                <a [routerLink]="['/view-current-project',{queryParams: '93'}]"  target="_blank">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Land Banking - BRADFIELD NSW
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/view-current-project',{queryParams: '96'}]" target="_blank">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Childe Care Centre - BOX HILL NSW
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/view-current-project',{queryParams: '95'}]" target="_blank">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Apartment - BLACKTOWN NSW
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/view-current-project',{queryParams: '99'}]" target="_blank">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Land Development - BOX HILL NSW
                                </a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Quick Links</h3>
                        <ul class="footer-menu list-style">
                            <li>
                                <a href="/About-US" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/News-Insights" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    News & Insights
                                </a>
                            </li>
                            <li>
                                <a href="/current-project" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Current Projects
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact_us" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="/policy" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="/terms" target="_self">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Terms &amp; Conditions
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">
                        <i class="ri-copyright-line"></i><span>2023</span>. All Rights Reserved By <a href="#"
                            target="_blank">Wellkins Capital</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="social-profile list-style style1">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/wellkinscapital/">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/Wellkinscapital">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/wellkinscapital/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/wellkinscapital/">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
