
<app-app-loader></app-app-loader>
<section >
  <div class="inner-section">
    <img  style='width: 100%; height: auto;' src="assets/images/bg/news.png" alt="" >
   <div class="container">
    <div class="row justify-content-center">
        <div class="heading-main-section">
            <h1 style="color:white">News & Insights <span ></span></h1>
          </div>
    </div>
   </div>
  </div>
</section>
<section class="section property-slider-wrap pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
          <div class="property-slider-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="400">
                        <div class="property-card style3 content-card-img">
                            <div >
                                <img style=' width: 100%; object-fit: cover' src="../../../assets/images/images.jpeg" alt="Image">
                            </div>
                            <div class="property-info">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 18, 2023</span>
                                   
                                </div>
                                <h3><a >Navigating the Booming Australian Investment Landscape with Wellkins Capital</a></h3>
                                <p><i class="flaticon-location"></i>Australia&#39;s investment landscape is thriving, offering lucrative opportunities across various sectors. As
                                    the country continues to experience economic growth and technological advancements, investors are
                                    eager to capitalize on these favorable conditions. In this blog, we explore the dynamic investment
                                    climate in Australia and how Wellkins Capital, with its innovative approach and expert guidance, can help
                                    you navigate the vast potential that this remarkable country offers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="200">
                        <div class="property-card style3 content-card-img">
                            <div >
                                <img  style=' width: 100%; object-fit: cover' src="../../../assets/images/invest.jpeg" alt="Image">
                            </div>
                            <div class="property-info">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 18, 2023</span>
                                   
                                </div>
                                <h3><a >Real Estate Investment with Wellkins Capital  as a game-changer  </a></h3>
                                <p><i class="flaticon-location"></i>Real estate investment
                                     has emerged as a game-changer in the investment landscape, and Wellkins
                                    Capital is at the forefront, spearheading the transformative growth of this innovative approach. With
                                    the rise of technology and the changing dynamics of the real estate market, real estate crowd funding
                                    with Wellkins Capital has become more accessible and attractive than ever before. Here are five pivotal
                                    factors that have contributed to the remarkable growth of real estate crowd funding with Wellkins
                                    Capital</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="300">
                        <div class="property-card style3 content-card-img">
                            <div >
                                <img  style=' width: 100%; object-fit: cover' src="../../../assets/images/land.jpeg" alt="Image">
                            </div>
                            <div class="property-info">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 27, 2023</span>
                                   
                                </div>
                                <h3><a >Recognize the potential of real estate investment with Wellkins Capital</a></h3>
                                <p><i class="flaticon-location"></i>The growth of real estate investment with Wellkins Capital signifies a paradigm shift in the investment
                                    landscape. Through cutting-edge technology and a thriving community of investors and borrowers,
                                    Wellkins Capital has revolutionized real estate investing, making it accessible, diversified, and hassle-
                                    free. As more investors recognize the potential of real estate investment with Wellkins Capital, the
                                    platform is poised to continue its upward trajectory, reshaping the way people invest in real estate and
                                    paving the way for a more inclusive and prosperous investment future.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
         
    </div>
      </div>
</section>
<!-- <section class="section property-slider-wrap pt-100 pb-75">
    <div class="container">
     
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" *ngFor="let item of dataSource">
                <div class="property-card style3 h_card">
                <mat-card class="example-card" >
                    <mat-card-header>
                     <h4  title="{{item.blog_title}}"> <mat-card-title style="text-align: center;">{{item.blog_title}}</mat-card-title></h4>
                    
                    </mat-card-header> 
                     
                      <div [innerHTML]="item.URL" class=" property-card style3 h_img">
                    
                    <div class="onhover-detail">
                      <a (click)="onpropertyClick(item)">View Blog</a>
                  </div>
                      </div>
                 
               
                    <mat-card-content>
                        <div [innerHTML]="item.blog_body">

                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                      
                      <button class="btn style3"
                      
                      mat-raised-button
                       
                        aria-label="Example mini fab with a heart icon"
                        (click)="onpropertyClick(item)"
                       
                      >
                     Read More
                      </button>
                    </mat-card-footer>
                  </mat-card>
            </div>
        </div>
    </div>
      </div>
</section> -->

<app-footer></app-footer>

