
<section class="section-profile-cover section-shaped my-0">
    <div class="inner-section"><img  style='   width: 100%;
        height: auto;'src="assets/images/bg/new-FAQS.png"  alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="heading-main-section text-white">
                    <h1 style="color:white">FAQ's</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="pb-5">
                    <div class="section-title style1 text-center mb-3">
                        <h2 class="mb-3">Legal</h2>
                    </div>
                    <mat-accordion>
                        <!-- #enddocregion basic-panel -->
                        
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: bold;font-size:16px" >
                                    What is the role of the Trustee or Custodian?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>The trustee’s role is to ensure investor’s interests are being protected at all times. In general terms,
                                the role of the Custodian is to separately hold all the assets, including the title deed of the property
                                and bank accounts of the fund, on behalf of the investors.</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: bold;font-size:16px">
                                     What is the Constitution for?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>The Constitution is the document that governs the relationship between the Investors and the
                                Responsible Entity. It regulates the rights and obligations of the Investors and the Responsible Entity
                                and sets out the powers of the Responsible Entity in operating the Trust.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: bold;font-size:16px">
                                    What is the role of the Responsible Entity?
                                   
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>he Responsible Entity is granted all powers in respect of the Fund that could be exercised by a
                                natural person or a body corporate as if it were the absolute and beneficial owner of the properties
                                of the Fund (and any other assets of the Fund). The Responsible Entity may appoint an agent to hold
                                the title to the Properties (and any other assets of the Fund) or otherwise carry out any functions of
                                the Fund.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: bold;font-size:16px">
                                    What is a Compliance Plan?
                                   
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p> As required by law, each Registered Scheme must have a Compliance Plan that has been lodged with
                                ASIC and sets out measures that the Responsible Entity shall apply in operating the Trust to ensure
                                compliance with the Corporations Act and the Constitution.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: bold;font-size:16px">
                                    What is the role of the Compliance Committee?
     
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p> The Compliance Committee is established to monitor compliance by the Responsible Entity with the
                                Compliance Plan and report to the Responsible Entity on a regular basis regarding its compliance
                                with the Compliance Plan, the Corporations Act and the Constitution.
                                The Compliance Committee is to report to the ASIC if the Responsible Entity does not address any
                                issues raised in an adverse report issued to the Responsible Entity. The Compliance Committee is
                                comprised of 3 members, with two thirds of the committee being “external” under section 601JB(2)
                                of the Corporations Act.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

               <div class="pb-5">
                <div class="section-title style1 text-center mb-3">
                    <h2 class="mb-3">Investment Returns</h2>
                </div>
                <mat-accordion>
                    <!-- #enddocregion basic-panel -->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                What is the nature of the investment?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Each Investor becomes a unit holder in the Fund. Units are issued in proportion to the amount
                            invested relative to the total net asset value of the trust’s assets. As a result, you effectively become
                            a part-owner of the Property.
                            The assets of a Wellkins Capital trust are generally physical property of a commercial nature. The
                            Offer Document specifically details the assets and/or intended assets.
                            Issues relating to a Fund can be voted on by Investors as provided for in the Constitution. Voting
                            rights will be proportional to the amount of each Investor’s interest.
                            By completing and sending an Application Form to the Manager, you are agreeing to be bound by
                            the Constitution and the acknowledgements contained within the Offer Document.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                How do I invest in a Wellkins Capital?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You may either:
                            Contact Wellkins Capital on 02 9119 4947 or email info@wellkinscapital.com.au to request a copy of
                            the relevant Information Memorandum or Product Disclosure Statement.
                            Register your interest online to receive a copy of the relevant Information Memorandum or Product
                            Disclosure Statement.
                            Applications can only be made on an Application Form attached to an Information Memorandum or
                            Product Disclosure Statement and accompanied by the appropriate payment.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                Can my SMSF purchase units in a property fund?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes, complying and self-managed superannuation funds may invest in our property Funds.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                How is the fund income collected and expenses paid?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>The Responsible Entity arranges for income from the Properties (rent) to be collected and pays it
                            into the proceeds fund. Out of the proceeds fund, the Responsible Entity pays all costs, charges,
                            expenses and outgoings it properly incurs. These include the Responsible Entity’s and Manager’s
                            fees, property outgoings, establishment costs, administration and audit costs, Custodian and
                            Compliance Committee fees, bank fees, government charges and taxes.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                What if I need to get my money back early?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Essentially our property funds are illiquid and invested funds are not returned until the property
                            is/are sold. Investors may exit earlier by the independent sale of their Units to a third party and you
                            can contact the Manager to assist with the relevant documentation and information in this regard.</p>
                    </mat-expansion-panel>
                </mat-accordion>
               </div>
               <div class="pb-5">
                <div class="section-title style1 text-center mb-3">
                    <h2 class="mb-3">Finance</h2>
                </div>
                <mat-accordion>
                    <!-- #enddocregion basic-panel -->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                Why should the Fund borrow money to acquire the property?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Borrowing or gearing into an investment is a long held strategy that can significantly enhance the
                            return on that investment. This is because the borrowed amount generally remains the same
                            (assuming interest only payments), whilst the property value is likely to increase over time.
                            However, the reverse can also apply should the property value significantly decrease, in which case
                            the losses can be magnified.
                            </p>
                            <p>
                            A sensible borrowing policy or gearing level helps to manage any downside risk. Unlike an investor
                            borrowing in their own name to invest, our Funds use non-recourse borrowings to limit any liability
                            of investors to their initial investment amount only.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                How much will the Fund borrow?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>The levels of approved borrowing may vary in each Fund; however, our policy is to only borrow up to
                            around 50% of the property value. </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                What is non-recourse Borrowings?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>All borrowings on behalf of a Fund are secured solely against Fund property (non-recourse to
                            investors). This means that you have no financial or other commitment beyond your investment into
                            that trust.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                What is a Gearing Ratio?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A gearing ratio indicates the extent to which the Fund’s assets are funded by external liabilities
                            (debt).</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                How is Interest Cover Calculated?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>An Interest Cover Ratio (ICR) is a measure that shows how many times the Fund’s earnings can meet
                            the Fund’s interest expense each year. For example if a trust has an income of $300,000 and an
                            annual interest payment of $100,000 then its ICR is 3:1.
                            </p>
                    </mat-expansion-panel>
                </mat-accordion>
               </div>
               <div class="pb-5">
                <div class="section-title style1 text-center mb-3">
                    <h2 class="mb-3">Communication</h2>
                </div>
                <mat-accordion>
                    <!-- #enddocregion basic-panel -->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                Will I receive updates on my Investment?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You will be kept aware of the status of your Investment with quarterly income statements and other
                            periodic reports.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                Will I receive an Annual Tax Statement?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>All investors in each Fund receive an annual tax statement within three months of the end of each
                            financial year.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                What other information or communication will I receive?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>All investors in each Fund will receive an Annual Report, providing information on the Fund’s
                            activities for that year.
                            We also produce periodic newsletters providing a variety of information including trust updates,
                            property market information and new investment offerings. Information held on our website is also
                            frequently updated and we recommend investors and potential investors review the website
                            content on a regular basis.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: bold;font-size:16px">
                                How do I notify you of any changes to my details?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It is important that you inform us of any changes to the details you originally submitted on the
                            Application Form when investing. Please contact the team at info@wellkinscapital.com.au or by
                            calling 02 9119 4947 to change your details.</p>
                    </mat-expansion-panel>
                    
                </mat-accordion>
               </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>