<app-app-loader></app-app-loader>

<div class="row gx-0 justify-content-center align-content-center">
    <div class="col-md-12">
        <div class="popup_content">
            <div class="offer-content"></div>
            <div class="inner-form">
                <a class="close" ><i class="fa-solid fa-xmark" [mat-dialog-close]="false"></i></a>
                <div class="popup-text">
                    <div class="heading_s4 text-center">
                        <h4 cl>Express your Interest</h4>
                    </div>
                </div>
                <div class="row justify-content-center align-content-center justify-content-between">
                    <div class="col-lg-6 col-md-12 mb-2">
                        <div class="btn_check">
                            <input type="checkbox" id="check1" (change)="onChange(0,'Property Fund', $event.target)">
                            <label class="btn check-btn btn-default" for="check1">
                                <i class="fa-regular fa-square-check"></i> Property Fund
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2 text-end">
                        <div class="btn_check">
                            <input type="checkbox" id="check2" (change)="onChange(1,'Mortgage Fund', $event.target)">
                            <label class="btn check-btn btn-default" for="check2">
                                <i class="fa-regular fa-square-check"></i> Mortgage Fund
                            </label>
                        </div>
                    </div>
                </div>
                <h6 class="my-4 text-center">Personal Details</h6>
                <form [formGroup]="advtForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-user"></i> Full Name</label>
                                <input name="email" required="" type="text" class="form-control rounded-0"
                                    placeholder="Enter Your Full Name" formControlName="full_name">
                                <mat-error *ngIf="advtForm.get('full_name')!.hasError('required') && isTouch"> Enter
                                    Your Full Name
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-envelope"></i> Email</label>
                                <input name="email" required="" type="email" class="form-control rounded-0"
                                    placeholder="Enter Your Email" formControlName="user_email">
                                <mat-error *ngIf="advtForm.get('user_email')!.hasError('required') && isTouch">
                                    Enter
                                    Your Email
                                </mat-error>
                                <mat-error *ngIf="advtForm. get('user_email')!.hasError('email')"> Email must be a
                                    valid
                                    email
                                    address
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-phone"></i> Contact No.</label>
                                <input name="email" required="" type="number" class="form-control rounded-0"
                                    placeholder="Enter Your Contact Number" formControlName="contact_no">
                                <mat-error *ngIf="advtForm.get('contact_no')!.hasError('required') && isTouch">
                                    Enter
                                    Your Contact Number
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-arrow-up-wide-short"></i> Investment
                                    Amount</label>
                                <input type="text" placeholder="Pick one Amount Range Ex. $92,000 - $150,000"
                                    class="form-control" formControlName="invest" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of userAmountList " [value]="option.Amount">
                                        {{option.Amount}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="advtForm.get('invest')!.hasError('required') && isTouch"> Please
                                    Enter
                                    Investment Amount
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-address-card"></i> Post Code</label>
                                <input name="text" required="" type="number" class="form-control rounded-0"
                                    placeholder="Enter Post Code" formControlName="location">
                                <mat-error *ngIf="advtForm.get('location')!.hasError('required') && isTouch">Please
                                    Enter Post Code
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="form-group">
                                <label for=""><i class="fa-solid fa-comment"></i> Comments/Question</label>
                                <textarea placeholder="Enter your Comments" class="form-control rounded-0" name="" id=""
                                    cols="30" rows="10" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-3  text-center">
                                <button class="btn style2 me-3" title="Submit" (click)="onFormSubmit()">Submit</button>
                                <button class="btn btn-black" title="Cancel" [mat-dialog-close]="false" >Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>